<!DOCTYPE html>
<html lang="pt-BR">
  
    <%- include('./components/head') %>

  <body>
    <%- include('./components/nav') %>

    <main>
      <section id="cards" class="outras">
        <h2>Banda</h2>

        <div class="card">
          <img src="<%= bandas.imagem %>" alt="foto banda" />
          <h3><%= bandas.nome %></h3>
          <p class="descricao"><%= bandas.descricao %></p>
          <p>Estilo:<%= bandas.estilo %></p>
        </div>
      </section>
    </main>
    <%- include('./components/footer') %>

    <script src="/js/script.js"></script>
  </body>
</html>
