<!DOCTYPE html>
<html lang="pt-BR">
  
    <%- include('./components/head') %>
  
  <body>
    <%- include('./components/nav') %>

    <main>
      <section id="cadastrar" class="outras">
        <div>
          <h2>Edite as informações da sua Banda</h2>
          <form action="/update/<%= bandas.id %>" method="POST">
            <label for="nome" id="labelNome">Nome:</label>
            <input
              type="text"
              name="nome"
              id="nome"
              value="<%= bandas.nome %>"
              placeholder="Digite o nome da banda:"
              required
            />

            <label for="descricao" id="labelDescricao">Descrição:</label>
            <input
              type="text"
              name="descricao"
              id="descricao"
              value="<%= bandas.descricao %>"
              placeholder="Digite a descrição:"
              required
            />

            <label for="estilo" id="labelEstilo">Estilo</label>
            <input
              type="text"
              name="estilo"
              id="estilo"
              value="<%= bandas.estilo %>"
              placeholder="Digite o estilo:"
              required
            />

            <label for="imagem" id="labelImagem">Estilo</label>
            <input
              type="url"
              name="imagem"
              id="imagem"
              value="<%= bandas.imagem %>"
              placeholder="Digite o Link da imagem:"
              required
            />

            <button type="submit" id="btnEditar">Atualizar</button>
          </form>
        </div>
      </section>
    </main>

    <%- include('./components/footer') %>

    <script src="/js/script.js"></script>
  </body>
</html>
